$title-font: "Seymour One", sans-serif;
$main-font: "Montserrat", sans-serif;
$accent-font: "DM Sans", sans-serif;
$text-color: #fcfcfc;
$accent-color: #f8d24e;
$background-color: #84a178;
$second_accent-color: #d6936d;
$copyright_text-color: #7a7a7a;
$third_accent-color: #ffff;
$title-color: #131313;
$background_first-color: #aec6a5;
$background_second-color: #efd478;
$border-color: #e1e1e1;
$second_text-color:#ababab;
$wrapper-color:  #d9d9d9, rgba(156, 190, 143, 0.7);
$wrapper_second-color:  #d9d9d9, rgba(248, 210, 78, 0.7);
$wrapper_third-color: #d9d9d9, rgba(213, 117, 63, 0.7);