.footer {

    padding-top: 120px;

    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        font-size: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $text-color;
    }

    &__title {
        font-weight: 700;
        font-size: 58px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $text-color;
        padding-top: 14px;
    }

    &__list {
        display: flex;
        gap: 30px;
        justify-content: end;
        padding-bottom: 40px;
    }

    &__icon {
        width: 34px;
        height: 34px;
        fill: $background-color;
        background-color: $accent-color;
        border-radius: 50px;
        padding: 7px;
        &:hover {
            fill: $text-color;
        }
        &:focus {
            fill: $text-color;
        }
    }

    &__contact {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        color: $title-color;
    }

    &__number {
        color: $third_accent-color;
    }

    &__bottom {
        margin-top: 60px;
        padding-block: 12px;
        border-top: 1px solid $border-color;
    }

    &__copyright {
        font-weight: 700;
        font-size: 12px;
        line-height: 1.86;
        letter-spacing: 0.02em;
        color: $copyright_text-color;
        text-align: center;
    }
}