.products {
    padding-top: 60px;
    background-image: url(../images/bg/ice-creams_bg.png);
    background-color: $third_accent-color;
    padding-bottom: 60px;

    &__name {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $title-color;
        text-align: center;
        padding-top: 46px;
    }

    &__desc {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
        text-align: center;
        padding-top: 66px;
        padding-bottom: 60px;
    }

    &__arrow {
        
        height: 16px;
    }

    &__image {
        width: 302px;
        height: 302px;
        display: block;
        border-radius: 50%;
        position: relative;
        top: -16px;
    }

    &__list {
        display: flex;
        gap: 29px;
    }

    &__item {
        padding-inline: 34px;
        padding-bottom: 60px;
        position: relative; 
        // 1
        padding-top: 165px;
        //2
    }

    &__item--green {
        background-color: $background_first-color;
        border-radius: 24px;
    }

    &__item--yellow {
        background-color: $background_second-color;
        border-radius: 24px;
    }
 
    &__item--orange {
        background-color: $second_accent-color;
        border-radius: 24px;
    }

    &__img-wrapper {
        width: 302px;
        height: 302px;
        border-radius: 50%;
        flex-shrink: 0;
        position: absolute; 
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
        }
    

    &__img-wrapper--green {
        background-color: $wrapper-color ;
        box-shadow: 0 8px 30px 0 rgba(10, 136, 23, 0.25);
    }

    &__img-wrapper--yellow {
        background-color: $wrapper_second-color;
        box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
    }

    &__img-wrapper--orange {
        background-color: $wrapper_third-color;
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.25);
    }
}