.slider {
    background-image: url(../images/bg/ice-creams_bg.png);
    background-color: $third_accent-color;
    padding-bottom: 228px;
    position: relative;
  
    &__img {
        display: block;
        margin: auto;
        border-radius: 8px;
        @media(max-width:768px) {
            width: 704px;
            height: 327px;
        }
         @media(max-width:480px) {
            width: 440px;
            height: 204px;
         }
         @media(max-width:320px) {
            width: 280px;
            height: 130px;
         }
    }

    &__pfp {
        padding-top: 140px;
        display: block;
        margin: auto;
        padding-bottom: 32px;
        @media(max-width:768px) {
            padding-top: 100px;
        }
        @media(max-width:320px) {
            padding-top: 80px
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.04em;
        text-align: center;
        color: $text-color;
        background-color: $background-color;
        padding-inline: 109px;
        padding-block: 43px;
        border-radius: 24px;
        @media(max-width:768px) {
            padding-inline: 80px;
            padding-block: 29px;
            font-size: 14px;
        }
         @media(max-width:480px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 2.55;
            padding-inline: 39px;
            padding-block: 35px;
         }
    }

    &__bio {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;
        color: $title-color;
        text-align: center;
        padding-top: 32px;
         @media(max-width:480px) {
            font-size: 20px;
         }
    }

   

  &-swiper {
    transform: translateY(-98px);
  }

}