.subtitle {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;

    &--how {
        color: $text-color;
    }
}