.subtitle {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;
    @media(max-width:768px) {
        font-size: 22px;
    }

    &--how {
        color: $text-color;
    }
}