.title {
    font-size: 36px;
    font-family: $title-font;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    color: $title-color;

    &--how {
        color: $text-color;
    }
}